name: Create Release
on:
  push:
   tags:
    - 'v*'

permissions:
  contents: write

jobs:
  build:
   name: Create Release
   runs-on: ubuntu-latest
   steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Setup go-task
      uses: pnorton5432/setup-task@v1
      with:
        task-version: 3.48.0
    - name: Build
      run: task ci
      env:
        RADIO_STATION_NAMES: ${{ secrets.RADIO_STATION_NAMES }}
        B1047: ${{ secrets.B1047 }}
        KUOW: ${{ secrets.KUOW }}
        OPENTTD: ${{ secrets.OPENTTD }}
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: out/arma3missions.tar.gz
